h1 {
  color: Blue;
  font-size: 200%;
}

p{
  color: Blue;
  font-family: sans-serif;
  text-indent: 20px;
  margin-left: 10px;
}

img{
  max-width: 100%;
  height: auto;
}

#content {
  /*look up the hex code of the color you want to change the bg to*/
  background-color: #b0a6ff;
  width: 500px;
  min-height: 200px;
  padding: 10px;
  margin: 10px;
  border: solid 1px #b0a6ff;
  font-size: 20px;
