h1 {
  color: Blue;
  font-size: 200%;
}

p{
  color: Blue;
  font-family: sans-serif;
  text-indent: 20px;
  margin-left: 10px;
}

img{
  max-width: 100%;
  height: auto;
}

#content {
  /*look up the hex code of the color you want to change the bg to*/
  background-color: #b0a6ff;
